<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link " href="Home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="Form">Form</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="loggin"> loggin</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" (click)="logout()" href="loggin">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer>

</footer>
