.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000 !important;
}

.custom-form {
  width: 400px;
  padding: 2rem;
  background-color: #f7f7f7 !important;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: slide-in 0.5s ease;
  font-family: Arial, sans-serif !important;
  color: #333 !important;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  text-align: center;
  margin-top: 0;
  font-family: Arial, sans-serif !important;
  color: #333 !important;
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-family: Arial, sans-serif !important;
  color: #333 !important;
}

.form-check {
  margin-bottom: 10px;
  font-family: Arial, sans-serif !important;
  color: #333 !important;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50 !important;
  color: #fff !important;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #45a049 !important;
}
